*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 18px;
}
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    padding: 10px;
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}
input, button, a, form, div, h1, h2{
    padding: 10px;
    margin: 15px;
    border-radius: 13px;
    color: black;
    background: white;
    text-align: center;
    text-decoration: none;
}
textarea{
    padding: 10px;
    margin: 15px;
    border-radius: 13px;
    color: black;
    background: white;
    text-decoration: none;
}
input, button, a, form, div, textarea{
font-size: 18px;
}
button:hover{
    box-shadow: 2px 2px 5px black;

}
.message{
    color: rgb(250, 110, 67);
    text-align: center;
}
a:hover{
    text-decoration:underline;
}
#posts{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0px;
}
#posts-div{
    width: 50%;
    max-width: 500px;
    border: 1px solid black;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    margin-bottom: 0px;
}
#posts-data{
    font-size: 14px;
    color: grey;
    margin-top: 10px;
}
.posts-content, #posts-data{
    margin-bottom: 10px;
}
.posts-like-button, .posts-edit-button, .posts-delete-button, .subscribe-button{
    border: 0.2px solid grey;
    margin: 0 15px;
}
.posts-like-button{
    padding: 0 7px;
}
.posts-edit-button, .posts-delete-button, .subscribe-button{
    font-size: 14px;
    padding: 3px 8px;
}
.posts-like-button:hover, .posts-edit-button:hover, .posts-delete-button:hover, .subscribe-button:hover{
    box-shadow: 1px 1px 3px grey;
}
.nav-div{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.nav-div a{
    margin: 5px;
    font-size: 18px;
}
#like-button{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.show-comment-form-button{
    margin: 0;
}
.comment-modal {
    margin: 0;
    border-radius: 0;
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto; 
}
.close:hover{
    cursor: pointer;
}
.comments-div{
    margin: 5px;
    width: 100%;
    border: 0.1px solid rgba(128, 128, 128, 0.425);
    align-items: flex-start;
    text-align: left;
    padding: 5px;
    display: inline-block;
}
.comments{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: 500px;
}
.comments-data{
    font-size: 10px;
    color: grey;
    margin-top: 10px;
}
.comments-author{
    font-size: 18px;
}
.comments-content{
    font-size: 15px;
}
.comment-no{
    color: grey;
    font-size: 16px;
    padding: 5px;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.posts-author-subscription{
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.registr-form{
    margin: 0;
    padding: 0;
}
.registr-link{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.comments-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
