*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 16px;
}
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    padding: 10px;
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    color: black;
    text-align: center;
}
input, button, a, form, div, h1, h2, textarea{
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    color: black;
    background: white;
    text-align: center;
}
input, button, a, form, div, textarea{
font-size: 16px;
}